<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <!-- *** MODIFY CONNECTION STRING AND DATA PROVIDER STRINGS BELOW *** -->
      <add name="ConfigurationType" value="Database" description="Specifies type of configuration: Database, WebService or XmlFile" encrypted="false"/>
      <add name="ConnectionString" value="Data Source=pqdashboard; Initial Catalog=openMIC; Integrated Security=SSPI" description="Configuration connection string" encrypted="false" scope="Application"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false" scope="Application"/>
      <!-- **************************************************************** -->
      <add name="BenLinkCommandLine" value="C:\\PROGRA~2\\QUALIT~1\\Ben32\\benlink /v- /rm1 /i3 /dxxx" description="Ben Link downloader commandline command" encrypted="false"/>
      <add name="EmailNotificationsEnabled" value="false" encrypted="false" description="Enable emails"/>
      <add name="Mailserver" value="marvin.cha.tva.gov" encrypted="false" description="mail server"/>
      <add name="DefaultCulture" value="en-US" description="Default culture to use for language, country/region and calendar formats." encrypted="false"/>
      <add name="DateFormat" value="MM/dd/yyyy" description="The date format to use when rendering timestamps." encrypted="false"/>
    </systemSettings>
  </categorizedSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>