<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GSF.Core" version="2.0.231-beta" targetFramework="net46" />
  <package id="GSF.Security" version="2.0.231-beta" targetFramework="net46" />
  <package id="GSF.ServiceModel" version="2.0.231-beta" targetFramework="net46" />
  <package id="GSF.Web" version="2.0.231-beta" targetFramework="net46" />
  <package id="GSF.Web.Security" version="2.1.119-beta" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="1.0.0" targetFramework="net45" />
</packages>