<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <appSettings>
    <add key="UserCodeAssemblies" value="Application.Server.dll" />
    <add key="ExtensionAssemblies" value="Microsoft.LightSwitch.Extensions.Server.dll;X360Lightning.ThemePack2.Common.dll;X360Lightning.ThemePack2.Server.dll" />
    <!-- A value of true will enable diagnostic logging on the server -->
    <add key="Microsoft.LightSwitch.Trace.Enabled" value="false" />
    <!-- A value of true allows only local access to Trace.axd -->
    <add key="Microsoft.LightSwitch.Trace.LocalOnly" value="true" />
    <!-- The valid values for the trace level are: None, Error, Warning, Information, Verbose -->
    <add key="Microsoft.LightSwitch.Trace.Level" value="Information" />
    <!-- A value of true will indicate that logging sensitive information is okay -->
    <add key="Microsoft.LightSwitch.Trace.Sensitive" value="false" />
    <!-- The semicolon-separated list of categories that will be enabled at the specified trace level -->
    <add key="Microsoft.LightSwitch.Trace.Categories" value="Microsoft.LightSwitch" />
    <!-- A value of true will indicate that HTTP requests should be redirected to HTTPS -->
    <add key="Microsoft.LightSwitch.RequireEncryption" value="false" />
    <!-- If no admin user exists, create an admin user with this user name -->
    <add key="Microsoft.LightSwitch.Admin.UserName" value="" />
    <!-- When creating an admin user with Forms auth, use this as the full name -->
    <add key="Microsoft.LightSwitch.Admin.FullName" value="" />
    <!-- When creating an admin user with Forms auth, use this as the password -->
    <add key="Microsoft.LightSwitch.Admin.Password" value="" />
    <!-- This value should only be changed by setting the Default Language property in the Application Designer -->
    <add key="ApplicationCulture" value="en-us" />
    <add key="Microsoft.LightSwitch.DefaultClientName" value="HTMLClient" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-10.0.14.0" newVersion="10.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch.ExportProvider" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-10.0.14.0" newVersion="10.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch.Model.Xaml" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch.Design.Utilities" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch.Design.DesignerWpfUtilities" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.LightSwitch.Design.WpfUtils" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="_IntrinsicData" connectionString="Data Source=|SqlExpressInstanceName|;AttachDbFilename=|ApplicationDatabasePath|;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True" />
    <add name="10439751-965d-4573-8d1d-0309c6502307" connectionString="Data Source=localhost;Initial Catalog=openMIC;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <!-- LightSwitch trace.axd handler -->
    <trace enabled="true" localOnly="false" requestLimit="40" writeToDiagnosticsTrace="false" traceMode="SortByTime" mostRecent="true" />
    <httpHandlers>
      <add verb="GET" path="trace.axd" type="Microsoft.LightSwitch.WebHost.Implementation.TraceHandler,Microsoft.LightSwitch.Server,Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="LightSwitchModule" type="Microsoft.LightSwitch.WebHost.Implementation.LightSwitchHttpModule,Microsoft.LightSwitch.Server,Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="SecurityModule" type="GSF.Web.SecurityModule, GSF.Web" />
    </httpModules>
    <compilation debug="false" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.LightSwitch.Server, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <!-- Setting maxRequestLength to be much greater than default 4096 so that large data may be uploaded e.g. images, docs -->
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxRequestLength="102400" targetFramework="4.6" />
    <authentication mode="Windows" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="LightSwitchModule" preCondition="managedHandler" type="Microsoft.LightSwitch.WebHost.Implementation.LightSwitchHttpModule,Microsoft.LightSwitch.Server,Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!-- Enable Security: <add name="SecurityModule" type="GSF.Web.SecurityModule, GSF.Web" /> -->
    </modules>
    <handlers>
      <!-- LightSwitch trace.axd handler -->
      <add name="LightSwitchTrace" path="trace.axd" verb="*" type="Microsoft.LightSwitch.WebHost.Implementation.TraceHandler,Microsoft.LightSwitch.Server,Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <!-- Compression should be turned on for devices -->
    <urlCompression doStaticCompression="true" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="6553600" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <uri>
    <schemeSettings>
      <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
      <add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
    </schemeSettings>
  </uri>
  <categorizedSettings>
    <securityProvider>
      <add name="ApplicationName" value="" description="Name of the application being secured as defined in the backend security datastore." encrypted="false" />
      <add name="ConnectionString" value="" description="Connection string to be used for connection to the backend security datastore." encrypted="false" />
      <add name="ProviderType" value="GSF.Security.LdapSecurityProvider, GSF.Security" description="The type to be used for enforcing security." encrypted="false" />
      <add name="IncludedResources" value="*/*=*" description="Semicolon delimited list of resources to be secured along with role names." encrypted="false" />
      <add name="ExcludedResources" value="/;*/WebResource.axd*;*/SecurityPortal.aspx*" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="false" />
      <add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="false" />
      <add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="false" />
      <add name="EnableOfflineCaching" value="False" description="True to enable caching of user information for authentication in offline state, otherwise False." encrypted="false" />
      <add name="CacheRetryDelayInterval" value="200" description="Wait interval, in milliseconds, before retrying load of user data cache." encrypted="false" />
      <add name="CacheMaximumRetryAttempts" value="10" description="Maximum retry attempts allowed for loading user data cache." encrypted="false" />
    </securityProvider>
    <activeDirectory>
      <add name="PrivilegedDomain" value="" description="Domain of privileged domain user account." encrypted="false" />
      <add name="PrivilegedUserName" value="" description="Username of privileged domain user account." encrypted="false" />
      <add name="PrivilegedPassword" value="" description="Password of privileged domain user account." encrypted="true" />
    </activeDirectory>
    <cryptographyServices>
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheRetryDelayInterval" value="200" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheMaximumRetryAttempts" value="10" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="false" />
    </cryptographyServices>
  </categorizedSettings>
</configuration>