<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <remotingClient>
      <add name="ConnectionString" value="Server=localhost:8890" description="Data required by the client to connect to the server." encrypted="false"/>
      <add name="MaxConnectionAttempts" value="-1" description="Maximum number of times the client will attempt to connect to the server." encrypted="false"/>
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the client for receiving data from the server." encrypted="false"/>
      <add name="SendBufferSize" value="32768" description="Size of the buffer used by the client for sending data from the server." encrypted="false"/>
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false"/>
      <add name="IntegratedSecurity" value="False" description="True if the current Windows account credentials are used for authentication, otherwise False." encrypted="false"/>
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="false"/>
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="false"/>
    </remotingClient>
  </categorizedSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
