/* Move down content because we have a fixed navbar that is 30px tall */
body {
    padding-top: 30px;
}

/* Small devices (tablets, 768px and up) */
@media screen {
    .remote-console {
        font-size: 7.25px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .remote-console {
        font-size: 11px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .remote-console {
        font-size: 12px;
    }
}

.floating-form {
    position: absolute;
    margin: 5px;
    display: none;
    float: left;
    clear: both;
}