/* Move down content because we have a fixed navbar that is around 30px tall */
body {
    padding-top: 30px;
}

.fill-height {
    min-height: calc(100% - 55px);
    height: calc(100% - 55px);
    height: -o-calc(100% - 55px);       /* opera */
    height: -webkit-calc(100% - 55px);  /* google, safari */
    height: -moz-calc(100% - 55px);     /* firefox */
}

.floating-form {
    position: absolute;
    margin: 5px;
    display: none;
    float: left;
    clear: both;
}