@*******************************************************************************************************
//  ConnectionProfiles.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Text
@using openMIC.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }
        .popup-ok-button {
            position: absolute;
            right: 8px;
            top: calc(100% - 43px);
            top: -o-calc(100% - 43px);
            top: -webkit-calc(100% - 43px);
            top: -moz-calc(100% - 43px);
        }
    </style>
}
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Connection Profiles";
    ViewBag.PageControlScripts = new StringBuilder();

    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { "Name", "Name", "text-left" },
        new[] { "Description", "Description", "text-left" },
        new[] { null, "Tasks", "text-center" }
    };

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog().ToString();
}
@helper BodyRows()
{
    <td width="30%" class="text-left valign-middle"><button type="button" class="btn btn-link" data-bind="text: Name, click: $parent.viewPageRecord"></button></td>
    <td width="60%" class="text-left table-cell-hard-wrap"><div data-bind="text: $($element.parentElement).truncateToWidth(Description, 2), attr: {title: Description}"></div></td>
    <td width="5%" class="text-center valign-middle"><button type="button" class="btn btn-default btn-sm" data-bind="click: openTaskEditor.bind($data)" hub-dependent><span data-bind="attr: {id: 'taskMode' + ID}">Add</span>&nbsp;&nbsp;<span class="badge" data-bind="text: getTaskCount(ID), attr: {id: 'taskCount' + ID}">0</span></button></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.dataHubIsConnected"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog()
{
    @Raw(ViewBag.DataContext.AddInputField<ConnectionProfile>("Name"))
    @Raw(ViewBag.DataContext.AddInputField<ConnectionProfile>("Description"))
}
@Include("PagedViewModel.cshtml")
<div id="editTasksDialog" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="editTasksFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Raw(ViewBag.PageControlScripts.ToString())
    <script>
        // Configure view model
        viewModel.defaultSortField = "ID";
        viewModel.labelField = "Name";
        viewModel.primaryKeyFields = ["ID"];
        viewModel.initialFocusField = "inputName";

        viewModel.setQueryRecordCount(function () {
            return dataHub.queryConnectionProfileCount();
        });

        viewModel.setQueryRecords(function (sortField, ascending, page, pageSize) {
            return dataHub.queryConnectionProfiles(sortField, ascending, page, pageSize);
        });

        viewModel.setDeleteRecord(function (keyValues) {
            return dataHub.deleteConnectionProfile(keyValues[0]);
        });

        viewModel.setNewRecord(function () {
            return dataHub.newConnectionProfile();
        });

        viewModel.setAddNewRecord(function (record) {
            return dataHub.addNewConnectionProfile(record);
        });

        viewModel.setUpdateRecord(function (record) {
            return dataHub.updateConnectionProfile(record);
        });

        function getTaskCount(connectionProfileID) {
            if (viewModel.dataHubIsConnected()) {
                dataHub.queryConnectionProfileTaskCount(connectionProfileID).done(function (count) {
                    $("#taskMode" + connectionProfileID).text(count > 0 ? "Edit" : "Add");
                    $("#taskCount" + connectionProfileID).text(count);
                });
            }

            return "0";
        }
        
        $(window).resize(function() {
            $("#editTasksFrame").attr("height", $("#contentWell").outerHeight(true) + "px");
        });

        function openTaskEditor(record) {
            $("#editTasksFrame").attr({
                "src": "ConnectionProfileTasks.cshtml?ID=" + record.ID + "&Name=" + encodeURIComponent(record.Name),
                "height": $("#contentWell").outerHeight(true) + "px",
                "width": "100%"
            });

            $("#editTasksDialog").modal("show");        
        }

        $("#editTasksDialog").on("hidden.bs.modal", function () {
            // Refresh page counts after editing tasks
            viewModel.queryPageRecords();
        });

        $(function() {
            $("#editTasksDialog").modal({ show: false, backdrop: "static", keyboard: false });
        });
    </script>
}