@*******************************************************************************************************
//  Devices.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using openMIC.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Devices";
}
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }
    </style>
}
@section Scripts {
    <script src="Scripts/formatDate.js"></script>
    <script src="Scripts/knockout-3.4.0.js"></script>
    <script src="Scripts/knockout.mapping.js"></script>
    <script>
        function dataModelDef() {
            var self = this;

            self.devicesLoaded = ko.observable(false);

            self.loadData = function () {
                //dataHub.queryDevices("ID", true, 1, 6).done(function (devices) {
                //    self.devices = devices;
                //});
                self.devicesLoaded(true);
            };

            self.devices = ko.observableArray([
                { Acronym: 'Bert', Enabled: true },
                { Acronym: 'Charles', Enabled: true },
                { Acronym: 'Denise', Enabled: false }
            ]);
        };

        var dataModels = dataModelDef();

        function onHubConnected() {
            dataModels.loadData();
        }

        $(function() {
            $("#bodyContainer").addClass("fill-height");
            ko.applyBindings(dataModels);
        });
    </script>
}
<div class="well fill-height">
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Acronym</th>
                    <th>Schedule</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: devices">
                <tr data-bind="visible: devicesLoaded()" style="display: none">
                    <td width="70%" data-bind="text: Acronym"></td>
                    <td width="20%"><button type="button" class="btn btn-link"><u>Undefined</u></button></td>
                    <td width="5%" class="text-center" style="vertical-align: middle" nowrap><input type="checkbox" data-bind="checked: Enabled"/></td>
                    <td width="5%" class="text-center" style="vertical-align: middle" nowrap>
                        <button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-bind="visible: !devicesLoaded()">
            Loading devices&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add&nbsp;New
        </button>
    </div>
</div>
    