@using System.Text
@using openMIC.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }
    </style>
}
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Devices";
    ViewBag.PageControlScripts = new StringBuilder();

    ViewBag.HeaderColumns = new string[][]
    {   //    { "Field", "Label", "Classes" }
        new[] { "Acronym", "Acronym", "text-left" },
        new[] { null, "Schedule", "text-center" },
        new[] { "Enabled", "Enabled", "text-center" }
    };

    ViewBag.BodyRows = @"
        <td width=""70%"" class=""text-left valign-middle"" data-bind=""text: Acronym""></td>
        <td width=""20%"" class=""text-center""><button type=""button"" class=""btn btn-link""><u>Undefined</u></button></td>
        <td width=""5%"" class=""text-center valign-middle""><input type=""checkbox"" data-bind=""checked: Enabled"" /></td>
        <td width=""5%"" class=""text-center valign-middle"" nowrap>
            <button type=""button"" class=""btn btn-xs"" hub-dependent><span class=""glyphicon glyphicon-pencil""></span></button>
            <button type=""button"" class=""btn btn-xs"" hub-dependent><span class=""glyphicon glyphicon-remove""></span></button>
        </td>
    ";
}
@Include("PagedViewModel.cshtml")
@section Scripts {
    @Raw(ViewBag.PageControlScripts.ToString())
    <script>
        // Configure view model
        viewModel.defaultSortField = "ID";
        viewModel.labelField = "Acronym";
        viewModel.identityField = "ID";

        viewModel.setQueryRecordCount(function () {
            return dataHub.queryDeviceCount();
        });

        viewModel.setQueryRecords(function () {
            return dataHub.queryDevices(viewModel.sortField(), viewModel.sortAscending(), viewModel.currentPage(), viewModel.currentPageSize());
        });
    </script>
}